<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="loan-element">
  <template>
    <style>
       :host {
        display: block;
      }

      .loan-btn {
        background-color: #5cb85c;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        font-weight: bold;
        width: 150px;
      }

      .container {
        text-align: center;
        border: 1px solid #d5d5d5;
        padding: 5px;
        background: #3367d6;
      }

      h2 {
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        margin: 0;
      }

      .button {
        background-color: #5cb85c;
        border: none;
        color: white;
        padding: 15px 32px;
        text-decoration: none;
        display: block;
        font-size: 16px;
        cursor: pointer;
        font-weight: bold;
      }

      .h-center {
        text-align: center;
        background: #fff;
        border: 1px solid #ccc;
        width: 50%;
        margin: 0 auto;
        box-shadow: 3px 3px 5px #888888;
      }

      .btn-center {
        margin: 0 auto;
        text-align: center;
      }

      .content-center {
        width: 85%;
        margin: 0 auto;
        background: #fff;
        box-shadow: 3px 3px 5px #888888;
      }

    </style>
    <div class="container">
      <img src="images/logo-icon.png" alt="Mortgage" height="45" width="45">
      <h2>Mortgage application</h2>
    </div>

    <div class="h-center">
      <div hidden$="{{!check}}">
        <paper-button class="loan-btn" on-click="navigate">Apply Loan</paper-button>
      </div>

      <div hidden$="{{!check}}">
        <paper-button class="loan-btn" on-click="navigate">View Loan</paper-button>
      </div>
    </div>

    <div class="content-center">
      <div hidden$="{{check}}">
        <paper-input type="text" label="First Name" value="{{ prop1.fname }}"></paper-input>
        <paper-input type="text" label="Last Name" value="{{ prop1.lname }}"></paper-input>
        <paper-input type="text" label="Deal Number" value="{{ prop1.dnumber }}"></paper-input>
        <paper-input type="text" label="Amount" value="{{ prop1.amount }}"></paper-input>
        <paper-input type="text" label="Email" value="{{ prop1.email }}"></paper-input>
        <paper-input type="text" label="Monthly Income" value="{{ prop1.mincome }}"></paper-input>
        <paper-input type="text" label="Monthly Expences" value="{{ prop1.mexpence }}"></paper-input>
        <paper-input type="text" label="Loan Term" value="{{ prop1.lterm }}"></paper-input>
        <div class="btn-center">
          <button class="button" on-click="sendData">submit</button>
        </div>

        <iron-ajax id="ironAjaxSubmit" url="http://10.117.189.208:8080/LoanApplication/loan/apply" body='{{prop1}}' method="post"
          on-response="handleResponse" content-type="application/json"></iron-ajax>
      </div>

    </div>

  </template>

  <script>
    /**
     * `loan-element`
     * Loan Element
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoanElement extends Polymer.Element {
      static get is() { return 'loan-element'; }
      static get properties() {
        return {
          prop1: {
            type: Object,
            value: {}
          },
          check: {
            type: Boolean,
            value: true
          }

        };
      }
      navigate() {
        this.check = false;
      }

      sendData() {
        let request = this.$.ironAjaxSubmit.generateRequest();
        request.completes.then(function (req) {
          alert('working');

        }, function (rejected) {
          // failed request, argument is an object
          let req = rejected.request;
          let error = rejected.error;
        }
        )
      }
    }

    window.customElements.define(LoanElement.is, LoanElement);
  </script>
</dom-module>